@import "../../CssGlobal/global";
@import "../../CssGlobal/mixin";

.languages-section-wrapper {
  &.active {
    @include animation($name: text-fadein);
  }
  margin-top: 20vh;
  > .section-title {
    font-size: $sectionTitleFontSize;
    font-family: $fontAvenir;
    margin-bottom: 20px;
  }
  > .langugages-content {
    font-size: 1.3rem;
    > .each-language {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .icon-languages-section {
        color: $purple;
      }
    }
  }
}

@keyframes text-fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
