@import "../../CssGlobal/global";

.languages-section-wrapper {
  margin-top: 20vh;
  > .section-title {
    font-size: $sectionTitleFontSize;
    font-family: $fontAvenir;
    margin-bottom: 20px;
  }
  > .langugages-content {
    font-size: 1.3rem;
    > .each-language {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .icon-languages-section {
        color: $purple;
      }
    }
  }
}
