@import "../../CssGlobal/global";

.projects-section-wrapper {
  margin-top: 20vh;
  > .projects-title {
    font-size: $sectionTitleFontSize;
    font-family: $fontAvenir;
    margin-bottom: 10px;
    &.active {
      animation: text-fadein 0.5s ease-in;
    }
  }
  //animation for each project component
  > .first-project {
    &.active {
      animation: project-fadein-from-left 1.2s ease-in;
    }
  }
  > .second-project {
    &.active {
      animation: project-fadein-from-right 1.2s ease-in;
    }
  }
  > .projects-each-content-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 48vw;
      height: 100%;
      border: solid 2px $grey;
      border-radius: 20px;
    }
    .project-explanation-wrapper {
      width: 33vw;
      > .project-each-title {
        font-size: $subTitleFontSize;
        margin-bottom: 20px;
        font-family: $fontGillSans;
      }
      > .project-explanation {
        font-size: $explanationFontSize;
        text-align: left;
      }
      > .skills-used {
        margin-top: 20px;
        font-family: $fontOptima;
        font-size: $explanationFontSize;
      }
      > .project-github-link {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: left;
        &:hover {
          cursor: pointer;
          color: $purple;
        }
        > .project-github-icon {
          margin-left: 10px;
        }
      }
    }
  }
  .second-project {
    margin-top: 80px;
  }
}

@keyframes text-fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes project-fadein-from-left {
  0% {
    opacity: 0;
    transform: translate(50px);
  }
  50% {
    opacity: 0;
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes project-fadein-from-right {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  50% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
