@import "../../CssGlobal/global";

.projects-section-wrapper {
  margin-top: 20vh;
  margin-bottom: 20vh; //後で消す
  > .projects-title {
    font-size: $sectionTitleFontSize;
    margin-bottom: 10px;
  }
  > .projects-each-content-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 48vw;
      height: 100%;
      border: solid 2px $grey;
      border-radius: 20px;
    }
    .project-explanation-wrapper {
      width: 33vw;
      > .project-each-title {
        font-size: 2.3rem;
        margin-bottom: 20px;
        font-family: $fontGillSans;
      }
      > .project-explanation {
        font-size: 1.2rem;
        text-align: left;
      }
      > .skills-used {
        margin-top: 20px;
        font-size: 1.3rem;
      }
      > .project-github-link {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: left;
        &:hover {
          cursor: pointer;
          color: $pinkPurple;
        }
        > .project-github-icon {
          margin-left: 10px;
        }
      }
    }
  }
  .second-project {
    margin-top: 80px;
  }
}
