@import "../../CssGlobal/global";
@import "../../CssGlobal/mixin";

.projects-section-wrapper {
  margin-top: 20vh;
  > .projects-title {
    font-size: $sectionTitleFontSize;
    font-family: $fontAvenir;
    margin-bottom: 10px;
    &.active {
      @include animation($name: text-fadein);
    }
  }

  //responsive style < 800px
  > .projects-each-content-wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 260px;
    > img {
      width: 80%;
      height: 100%;
      border: solid 2px $grey;
      border-radius: 20px;
    }
    > .project-explanation-wrapper {
      width: 80%;
      margin-top: 30px;
      > .project-each-title {
        font-size: $subTitleFontSize;
        margin-bottom: 20px;
        font-family: $fontGillSans;
        text-align: center;
      }
      > .project-explanation {
        font-size: $explanationFontSize;
        text-align: left;
        text-align: center;
      }
      > .skills-used {
        margin-top: 20px;
        font-family: $fontOptima;
        font-size: $explanationFontSize;
        text-align: center;
      }
      > .project-github-link {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
          color: $purple;
        }
        > .project-github-icon {
          margin-left: 10px;
        }
      }
    }
  }
  //untill here

  //animation for each project component
  > .first-project {
    &.active {
      @include animation($name: project-fadein-from-left, $duration: 1.2s);
    }
  }
  > .second-project {
    &.active {
      @include animation($name: project-fadein-from-right, $duration: 1.2s);
    }
  }

  .second-project {
    margin-top: 100px;
  }
}

@media screen and (min-width: 800px) {
  .projects-section-wrapper {
    > .projects-each-content-wrapper {
      margin-top: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 48vw;
        height: 100%;
        border: solid 2px $grey;
        border-radius: 20px;
      }
      .project-explanation-wrapper {
        margin-top: 0;
        width: 33vw;
        > .project-each-title {
          font-size: $subTitleFontSize;
          margin-bottom: 20px;
          font-family: $fontGillSans;
          text-align: left;
        }
        > .project-explanation {
          font-size: $explanationFontSize;
          text-align: left;
        }
        > .skills-used {
          margin-top: 20px;
          font-family: $fontOptima;
          font-size: $explanationFontSize;
          text-align: left;
        }
        > .project-github-link {
          margin-top: 30px;
          display: flex;
          align-items: center;
          justify-content: left;
          &:hover {
            cursor: pointer;
            color: $purple;
          }
          > .project-github-icon {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@keyframes text-fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes project-fadein-from-left {
  0% {
    opacity: 0;
    transform: translate(50px);
  }
  50% {
    opacity: 0;
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes project-fadein-from-right {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  50% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
