@import "../../CssGlobal/global";
@import "../../CssGlobal/mixin";

@media screen and (min-width: 600px) {
  .circles-wrapper {
    position: relative;
    .circle-tech-skill-1 {
      position: absolute;
      margin: 0;
      top: 300px;
      right: 0px;
      width: 180px;
      height: 180px;
      opacity: 50%;
      border-radius: 50%;
      border: dotted 28px $pinkPurple;
    }
  }
}
.tech-skills-wrapper {
  position: relative;
  z-index: 3;
  margin-top: 20vh;
  > .tech-skills-title {
    font-size: $sectionTitleFontSize;
    font-family: $fontAvenir;
  }
  .skill-title,
  .tool-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    > div {
      font-size: 1.5rem;
    }
    > .icon-skills-section {
      color: $purple;
    }
  }
  .skill-icon {
    margin-right: 15px;
  }
  > .skill-wrapper,
  > .tool-wrapper {
    margin-top: 20px;
  }
  &.active {
    @include animation($name: text-fadein);
  }
}
@keyframes text-fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
