@import "../../CssGlobal/global";
@import "../../CssGlobal/mixin";

.tech-skills-wrapper {
  margin-top: 20vh;
  > .tech-skills-title {
    font-size: $sectionTitleFontSize;
    font-family: $fontAvenir;
    position: relative;
  }
  .skill-title,
  .tool-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    > div {
      font-size: 1.5rem;
    }
    > .icon-skills-section {
      color: $purple;
    }
  }
  .skill-icon {
    margin-right: 15px;
  }
  > .skill-wrapper,
  > .tool-wrapper {
    margin-top: 20px;
  }
  &.active {
    @include animation($name: text-fadein);
  }
}
@keyframes text-fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
