//ColorPalette
$purple: #a593e0;
$grey: #e0e3da;
$white: #fffff3;
$darkGrey: #566270;

$pink: #d499b9;
$pinkPurple: #9055a2;
$darkPurple: #2e294e;
$darkNavy: #011638;

//font-size
$sectionTitleFontSize: 3rem;
